body {
  width: 500px;
}
.calculator {
  border: 1px solid black;
  flex-direction: column;    
}
.input-container {
  height: 50px;
  border: 1px solid black;
  margin: 20px;
  padding: 10px;
  font-size: 30px;
  text-align: end;
  line-height: 50px;
}
.operators-container {
  display: flex;
  margin: 0 20px 20px 20px;
  justify-content: space-between;
}
.operators-container div {
  border: 1px solid black;
  width: 85px;
  margin: 10px 4px 10px 0;
  padding: 10px;
  text-align: center;
  background-color: #ddd;
  cursor: pointer;
}
.numbers-container{
  display: flex;
  justify-content: space-between;
  margin: 0 20px 20px 20px;
  text-align: center;  
}

.numbers {
  display: flex;
  margin-bottom: 20px;
}
.left {
  flex: 3;
  justify-content: space-between;
  margin-right: -4px
}
.left div {
  margin-right: 8px
}
.numbers div {
  border: 1px solid black;
  width: 85px;
  padding: 10px;
  cursor: pointer;
  background-color: #f9f9f9;
}
.equals {
  flex: 1;
}
.equals div {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 102px;
  border: 1px solid black;
  height: 100%;
  cursor: pointer;
}
#last-row {
  margin-bottom: 0
}


      
